doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tic-tac-toe
    link(rel="stylesheet", href="style.css")
    script(src="script.js" defer) 
  body
    .container
      .title Let's play tic-tac-toe
      .game-grid 
        .square
        .square
        .square
        .square
        .square
        .square
        .square
        .square
        .square
      button.reset(action="", method="get") Reset board
  footer  
    p © 2023 Shaheer Amjad